<%- include('./layout/header')%>
    <main>
        <h1>Welcome to the Task Management Board</h1>
        <p>To start, sign up or login with Google account.</p>
        <p>Support for other accounts will be available later.</p>
        
                <a href="/auth/google">Login with Google</a>


    </main>        
<%-include( './layout/footer')%>
