/* set the primary font for the whole webpage */
* {
  font-family: "Poppins";
  text-decoration: none;
  color: black;
}

/* upper part flexbox */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid #f3f3f3;
}

.logo {
  margin-left: 50px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(150, 190, 188);
}

/* customize navigation bar */
nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 20px;
  border: 1px rgba(160, 231, 229, 1);
  border-radius: 5px;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  transition: color 0.2s;
}

nav a:hover {
  color: rgb(153, 222, 219);
}

/* customize topboard */

.TopBoard {
  display: flex;
  flex-direction: column;
  margin: 30px 25px;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.Team {
  margin-top: 50px;
}

.Team h2 {
  margin-bottom: 20px;
}

.tasklist {
  display: flex;
  flex-direction: column;
}

.task a {
  margin-top: 10px;
  transition: color 0.2s;
}

.task a:hover {
  color: rgba(160, 231, 229, 1);
}

/* customize create new team */

.createboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.createboard a {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(160, 231, 229, 1);
  color: white;
  transition: opacity 0.2s;
}

.createboard a:hover {
  opacity: 0.7;
}

footer {
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5em;
  width: 100%;
  border: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

footer p {
  padding: 10px;
  font-weight: lighter;
  margin: 0;
}
