</body>
<footer>
    <div>
        <p>The ultimate project management tool for streamlined task tracking, collaboration, and progress monitoring. 
            Simplify project organization, assign tasks. Boost productivity, faster teamwork, and achieve project success.</p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/user-mutli-select.js"></script>
<script src="/socket.io/socket.io.js"></script>
   <script>
     const socket = io();
   </script>
<script src=/js/sendrequest.js></script>
</html>